.c-map
  position: relative
  blockResponsive(75%)

  // overrides default leaflet font
  font-family: $fontFamily

  .leaflet-marker-icon
    // fixes weird chrome outline
    outline: none

  .leaflet-bottom,
  .leaflet-top,
  .leaflet-pane
    z-index: 1

  .leaflet-control-attribution
    font-size: 9px
